:root {
  --sidebar-bg: #25274d;
  --content-bg: #464866;
  --header1: #de8bbb;
  --header3: #5a9c8b;
  --header4: #de8bbb;
  --link: #82e1dd;
}

html {
    background-color: var(--content-bg);
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--content-bg);
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: verdana, sans-serif
}

#content {
  color: #dbd9e5;
  margin-left: 15em;
  padding: 1em 3em;
  height: 100%;
}

#content h1 {   
    color: var(--header1);
}
#content h3 {
    color: var(--header3);
    margin: 0.5em 0em;
    padding: 0;
}
#content h4 {
    font-size: 1em;
    color: var(--header4);
    margin: 0;
    padding: 0;
}

#content a {
    color: var(--link);
}

#sidebar {
    background-color: var(--sidebar-bg);
    margin: 0;
    padding: 0;
    width: 15em;
    position: fixed;
    height: 100%;
    overflow: auto;
}
#sidebar h2 {
    color: #dbd9e5;
    padding: 0.75em;
    margin: 0 1em;
    text-align: left
}
#sidebar img {
    margin-top: 1.5em;
}
#sidebar li {
    display: block;
    color: #dbd9e5;
    padding: 1em 2em;
    text-decoration: none;
    list-style-type: none;
}
/*#sidebar li.active {
    background-color: #333;
    color: #fff;
}*/
#sidebar li:hover:not(.active) {
    background-color: #315b9d;
    color: var(--header1);
}

@media screen and (max-width: 700px) {
    #sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    #sidebar h2 {
        float: left;
        font-size: 1em;
        padding: 1em;
    }
    #sidebar a {
        float: left;
        padding: 1em 0.5em;
    }
    #content {
        margin-left: 0;
        padding: 1em 2em;
    }
}